<header class="menunav">
  <div class="inner">
    <h1 id="title">Create New Entry</h1>
    <nav class='navigation'>
      <ul>
        <%= link_to "Back", licenses_url %>
      </ul>
    </nav>
  </div>
</header>


<div class="search-div">

<form action="<%= licenses_url %>" method="post">
    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <h3>Please click in the text box and scan a driver's license</h3>
  <textarea name="license[body]" class='search-field'></textarea>
  <br><br>

  <input type="submit">
</form>
</div>



